{% extends "layout.html" %}

{% block title%}{{registry_object.name}}{% endblock %}
{% set active_page = 'registry-%s' % registry_object.id %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">{{registry_object.name}} {% if registry_object.valuable %}<span
      class="badge badge-danger">ОЦ</span>{% endif %}</h2>
  <div class="btn-group" role="group">
    <a class="btn btn-success" href="{{ url_for('inventory.create', regid=registry_object.id) }}"
      aria-label="Добавить опись" title="Добавить опись">
      <span data-feather="plus"></span>
    </a>
    <button id="actionsButton" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Действия
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a href="#" class="dropdown-item" id="selected-remove" role="button" aria-pressed="true">
        <span data-feather="trash"></span>
        Удалить отмеченные
      </a>
    </div>
  </div>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Реестр описей</a></li>
    <li class="breadcrumb-item">{{ registry_object.name }}</li>
  </ol>
</nav>

<div class="row">
  <div class="col-lg-6">
    {% include 'inventory/filter.html' %}
  </div>
  <div class="col-lg-6">
    <div class="mt-2"></div>
    <strong>Условные обозначения:</strong><br />
    <span class="badge badge-light">&nbsp;&nbsp;&nbsp;</span> опись принята<br />
    <span class="badge badge-warning">&nbsp;&nbsp;&nbsp;</span> не указан год приема<br />
    <span class="badge badge-danger">&nbsp;&nbsp;&nbsp;</span> опись выбыла
  </div>
</div>

{% if objects_list.items %}
{% if no_years_count %}
<div class="alert alert-warning" role="alert">
  Внимание! В реестре содержатся описи, не имеющие одновременно дат приема и выбытия.
  Такие описи могут стать причиной неверных результатов в суммарном учете.
    <a href="{{ url_for('inventory.index', regid=registry_object.id, no_years=True) }}"
      class="btn btn btn-outline-warning btn-sm">Показать</a>
  
</div>
{% endif %}
<strong>Результатов: {{ objects_list.total }}</strong>
<form action="{{ url_for('inventory.remove', regid=registry_object.id) }}" id="selected-form" name="selected-form"
  method="post">
  <table class="table table-bordered inventories-table">
    <thead class="thead-dark">
      {% if registry_object.valuable %}
      <tr>
        <th scope="col">#</th>
        <th scope="col">№ пп</th>
        <th scope="col">Номер фонда</th>
        <th scope="col">Номер описи (номерника)</th>
        <th scope="col">Колличество ед. хр.</th>
        <th scope="col">Колличество экземпляров</th>
        <th scope="col">Примечания</th>
        <th scope="col" style="width:100px;"></th>
      </tr>
      {% else %}
      <tr>
        <th scope="col" rowspan="2">#</th>
        <th scope="col" rowspan="2">№ пп</th>
        <th scope="col" rowspan="2">Номер фонда</th>
        <th scope="col" rowspan="2">Номер и название описи</th>
        <th scope="col" colspan="2">Колличество ед. хр.</th>
        <th scope="col" rowspan="2">Крайние даты</th>
        <th scope="col" rowspan="2">Колличество экз.</th>
        <th scope="col" rowspan="2">Примечания</th>
        <th scope="col" rowspan="2" style="width:100px;"></th>
      </tr>
      <tr>
        <th scope="col">всего</th>
        <th scope="col">в т.ч. по л.с.</th>
      </tr>
      {% endif %}
    </thead>
    <tbody>
      {% for object in objects_list.items %}
      <tr
        class="{% if object.out_year %}table-danger{% else %}{% if object.in_year %}table-light{% else %}table-warning{% endif%}{% endif%}">
        <td><input type="checkbox" name="selected" value="{{ object.id }}" \></td>
        <td>{{ object.number }}</td>
        <td>{{ object.fund_num }}</td>
        <td>{{ object.inventory_num }} {% if not registry_object.valuable %}{{ object.inventorytype.short_name if object.inventorytype.short_name }}{% endif %}</td>
        <td>{{ object.record_total }}</td>
        {% if not registry_object.valuable %}<td>{{ object.record_private if object.record_private }}</td>{% endif %}
        {% if not registry_object.valuable %}<td>{{ object.dates if object.dates }}</td>{% endif %}
        <td>{{ object.copies }}{% if object.digital_copy %}Ц{% endif %}</td>
        <td>{{ object.annotation if object.annotation }}</td>
        <td style="width:100px;">
          <a href="{{ url_for('inventory.update', regid=registry_object.id, id=object.id ) }}"
            title="Редактировать"><span data-feather="edit"></span></a>
          <a href="{{ url_for('inventory.remove', regid=registry_object.id, id=object.id) }}" title="Удалить"
            onclick="return confirm('Удалить этот элемент?')"><span data-feather="delete"></span></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if objects_list.pages > 1 %}
  {% if objects_list.has_prev %}<a
    href="{{ url_for('inventory.index', regid=registry_object.id, page=objects_list.prev_num, fund_num=fform.fund_num.data, inventory_num=fform.inventory_num.data, year=fform.year.data, lowcopy=fform.lowcopy.data, no_years=fform.no_years.data) }}">&#10229;
    Сюда</a>{% else %}&#10229; Сюда{% endif %} |
  {% if objects_list.has_next %}<a
    href="{{ url_for('inventory.index', regid=registry_object.id, page=objects_list.next_num, fund_num=fform.fund_num.data, inventory_num=fform.inventory_num.data, year=fform.year.data, lowcopy=fform.lowcopy.data, no_years=fform.no_years.data) }}">Туда
    &#8594;</a>{% else %}Туда &#8594;{% endif %}
  {% endif %}
</form>
{% else %}
<p>Список пуст</p>
{% endif %}
{% endblock %}