{% extends "layout.html" %}

{% block title%}Главная{% endblock %}
{% set active_page = 'index' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Реестр описей дел, документов</h2>
</div>

<p class="lead">
    Реестр описей дел, документов, документов - для регистрации описей дел (в том числе особо ценных), документов, учета их количества и
    состава.
</p>
<p class="lead">
    <span class="text-muted">&copy; Сахарук Александр 2020, БУОО ГАОО.</span>
</p>
{% endblock %}