{% extends "layout.html" %}

{% block title%}Реестры{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Новый реестр</h2>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Реестр описей</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('registry.index') }}">Реестры</a></li>
        <li class="breadcrumb-item active" aria-current="page">Создать</li>
    </ol>
</nav>

{% include 'registry/form.html' %}
{% endblock %}