{% extends "layout.html" %}

{% block title%}Суммарный учет{% endblock %}
{% set active_page = 'summary' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Суммарный учет</h2>
</div>
<p class="lead">
    Суммарный учет описей дел, документов, документов архива.
</p>
{% include 'summary/form.html' %}
<div class="alert alert-info" role="alert">
    При выборе всего периода в отчете будут в том числе учитываться описи, не имеющие дат приема/выбытия.
</div>
{% if total_ %}
<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Итого</h5>
        <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
        {% set year=request.args.get('year') %}
        <li class="list-group-item">Итого на {% if year %}01.01.{{ year }} г.{% else %} весь период {% endif %}
            {{ total_ }} описей</li>
        <li class="list-group-item">
            в т.ч. поступило {% if year %}в {{ year }} г.{% else %} в течение всего периода{% endif %} {{ in_ }}
            описей<br />
            <ul>
                <li>в полном комплекте: {{ in_complect_ }} описей</li>
                {% for name, count in in_by_type_ %}
                {% if count %}
                <li>{{ name }}: {{ count }} описей</li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li class="list-group-item">выбыло{% if year %} в {{ year }} г.{% else %} в течение всего периода{% endif %}
            {{ out_ }} описей</li>
    </ul>
</div>

{% endif %}
{% endblock %}